<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/covid/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/projects/covid/css/datatable.css}">
    <title>Bienvenido</title>
</head>
<body>

	<header th:replace="layout/plantilla :: header"></header>
	
	    <table id="datatable" class="datatable">
        <thead>
            
        </thead>

        <tbody>
            
        </tbody>
    </table>
    
    <div id="modal-container" class="modal-container">
  		<div id="modal-body" class="modal-body">
			
		</div>
	</div>
    
    <script src="/projects/covid/js/datatable.js"></script>
	<script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/generics/js/nav.js}"></script>
</body>
</html>