<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/covid/css/estilos.css}">
    <title>Document</title>
</head>
<body>
	
	<header th:replace="layout/plantilla :: header"></header>
	
    <div class="content-form">
        <nav class="guide">
            <ul>
                <li><a href="#"><i class="fas fa-home"></i></a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="index">Covid-19 y neumonía</a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="form">Formulario</a></li>
            </ul>
        </nav>
		
		<div class="subtitle-container">
        	<h2>Detección de COVID-19, Neumonía Bacteriana y Neumonía Viral</h2>
        	<hr class="subtitle-line"/>
        </div>


        <form id="form">
                <div class="input-group"> 
                    <label class="input-group__label" for="">Edad del paciente*:<abbr title="Este campo es obligatorio" aria-label="requeried"></abbr></label>
                    <div class="input-group__input">
                        <input type="text" name="edad" maxlength="2" required>
                    </div>
                </div>

                <div class="input-group">
                    <label class="input-group__label" for="">Peso del paciente (kg)*:<abbr title="Este campo es obligatorio" aria-label="requeried"></abbr></label>
                    <div class="input-group__input">
                        <input type="text" name="peso" maxlength="5" required>
                    </div>
                </div>
                
                    <div class="input-group">
                        <label  class="input-group__label">Sexo del paciente*:<abbr title="Este campo es obligatorio" aria-label="required"></abbr></label>
                        <div class="input-group__input">
                            <input type="radio" required name="sexo" id="masculino" value="Masculino"> Masculino
                            <input type="radio" required name="sexo" id="femenino" value="Femenino"> Femenino
                        </div>
                    </div>

                <div class="input-group">
                    <label class="input-group__label" for="">Saturación de oxígeno (%):</label>
                    <div class="input-group__input">
                        <input type="text" name="saturacionOxigeno" maxlength="5">
                    </div>
                </div>

                <div class="input-group">
                    <label class="input-group__label">Enfermedad*:<abbr title="Este campo es obligatorio" aria-label="required"></abbr></label>
                    <div class="input-group__input">
                        <select name="enfermedad" id="combo_enfermedad" class="combo_box" required>
                            <option value="">- Seleccione enfermedad -</option>
                            <option value="COVID-19">COVID-19</option>
                            <option value="Neumonía viral">Neumonía Viral</option>
                            <option value="Neumonía bacteriana">Neumonía Bacteriana</option>
                            <option value="Sano">Sano</option>
                        </select>
                    </div>
                </div>

            <div class="input-group">
                <label class="input-group__label">Fase de la enfermedad*:<abbr title="Este campo es obligatorio" aria-label="required"></abbr></label>
                <div class="input-group__input">
                       <select name="faseEnfermedad" id="combo_enfermedad" class="combo_box" required>
                        <option value="">- Seleccione opcion -</option>
                        <option value="Moderada">Moderada</option>
                        <option value="Severa">Severa</option>
                        <option value="Crítica">Crítica</option>
                        <option value="Desconocida">Desconocida</option>
                    </select>
                </div>
            </div>

            <div class="input-group">  
                <label class="input-group__label">Tipo de imagen a subir*:<abbr title="Este campo es obligatorio" aria-label="required"></abbr></label>
                <div class="input-group__input">
                    <select name="tipoImagen" id="combo_imagen" class="combo_box" required>
                        <option value="">- Seleccione tipo de imagen -</option>
                        <option value="Radiografía de toráx"><label>Radiografía de toráx</label></option>
                        <option value="Tomografía computarizada"><label>Tomografía computarizada</label></option>
                    </select>
                </div>
            </div>

            <div class="btn-container">
            	<div class="btn-container-file">
            		<button type="button" class="btn-file btn-file-form" id="btnFile">Subir imagenes<span class="span-form"><i class="fas fa-plus"></i></span></button>
	        	</div>
	        </div>
	
			<div id="wrapper">
				<div id="container-input">
					<input type="file" id="file" name="file[]" accept="image/*" multiple hidden/>
					<div class="wrap-file">
						<div id="preview-images"></div>
						<i class="fas fa-images" id="icon-upload"></i>
					</div>
				</div>
			</div>
	
			<div class="btn-container">
	            <input class="btn-submit" type="submit" id="submit" value="Enviar" style="margin: 10px 0">
	        </div>
        </form>

        <a th:href="@{/covid/form/imagenes-subidas}">Ver imagenes subidas</a>

        <div id="modal_container" class="modal-container">
  			<div class="modal">
    			<h1>Formulario Enviado Exitosamente</h1>
   	 			<p><span id="textData"></span><br>Gracias por su colaboración en este proyecto.</p>
   	 			<div class="icon-modal"><i class="far fa-check-circle"></i></div>
			    <button id="close">Cerrar</button>
			</div>
		</div>
    </div>
    <script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/generics/js/nav.js}"></script>
    <script th:src="@{/projects/covid/js/submit-form.js}"></script>
</body>
</html>