<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	div{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		width: 80%;
		margin: auto;
		justify-content: center;
	}
	img{
		width: 250px;
		height: 250px;
	}
</style>
</head>
<body>
	<h1>Imagenes Subidas</h1>
	<a href="/covid/form">regresar al formulario</a>
	<br>
	<div id="container-images">
	</div>
	<br>
	<button id="delete-images">Borrar todas las imagenes</button>
	<script src="/projects/covid/js/imagenes-subidas.js"></script>
</body>
</html>