<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/tdah/css/estilos.css}">
    <title>Perfil</title>
</head>
<body>
    
    <header th:replace="layout/plantilla :: header"></header>
    
	<div class="content">
		<nav class="guide">
        	<ul>
        		<li><a href="#"><i class="fas fa-home"></i></a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/index">TDAH</a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/profile">Perfil</a></li>
        	</ul>
        </nav>
	
	    <div class="content-perfil">
	        <div class="cabecera">
	            <h4>Mi perfil</h4>
	        </div>
	        <div class="foto-perfil">
	            <img th:src="@{/generics/media/blank-profile.png}">
	            <div>
	                <h3 th:text="${usuario.nombre}">Nombre completo</h3>
	                <h4 th:text="${usuario.correo}">correo@correo.com</h4>
	            </div>
	        </div>
	        <div class="informacion-profesional">
	            <h5>Datos Profesionales</h5>
	            <div class="datos">
	                <div class="datos-group">
	                    <label for="">Nombre Completo:</label>
	                    <input type="text" th:field="${usuario.nombre}">
	                </div>
	                <div class="datos-group">
	                    <label for="">Correo:</label>
	                    <input type="text" th:field="${usuario.correo}">
	                </div>
	                <div class="datos-group">
	                    <label for="">Cédula profesional:</label>
	                    <input type="text" th:field="${usuario.terapeuta.cedulaProfesional}">
	                </div>
	                <div class="datos-group">
	                    <label for="">Especialidad:</label>
	                    <input type="text" th:field="${usuario.terapeuta.especialidad}">
	                </div>
	                <div class="datos-group">
	                </div>
	                <div class="datos-group">
	                    <input type="submit" value="Actualizar">
	                </div>
	            </div>
	        </div>
	        <div class="pacientes">
	            <h5>Datos pacientes </h5>
	            <div class="table-container">
	            	<div class="header-tools">
	            		<a class="add-patient" th:href="@{/tdah/patient/new}">
			            	<i class="fas fa-plus-circle"></i> Agregar paciente
			            </a>
			            <div class="search-patient">
			            	<i class="fas fa-search"></i>
			            	<input type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Filtrar por categoría">
			            </div>
	            	</div>
		            <table id="datos">
			            <thead>
			            	<tr>
			            		<th>Folio</th>
			            		<th>Nombre</th>
			            		<th>Edad</th>
			            		<th>Genero</th>
			            		<th>Registrado</th>
			            		<th></th>
			            		<th>Acciones</th>
			            		<th></th>
			            	</tr>
			            </thead>
			            <tbody>
			            	<tr th:each="paciente : ${pacientes}">
			            		<td>QWERTY_0102</td>
			            		<td th:text="${paciente.nombre + ' ' + paciente.apellido}"></td>
			            		<td th:text="${paciente.fechaNacimiento}"></td>
			            		<td th:text="${paciente.sexo}"></td>
			            		<td th:text="${paciente.fechaRegistro}"></td>
			            		<td><a class="btn sesion" th:href="@{/tdah/patient/} + ${paciente.idPaciente} + @{/recorded-sessions}">Sesiones</a></td>
			            		<td><a class="btn myButton" th:href="@{/tdah/patient/edit/} + ${paciente.idPaciente}">Editar</a></td>
			            		<td><a class="btn delete" th:href="@{/tdah/patient/delete/} + ${paciente.idPaciente}">Eliminar</a></td>
			            	</tr>
			            </tbody>
		            </table>
	            </div>
	        </div>
	    </div>
	    
	    <div id="modal_container" class="modal-container" th:if="${success != ''}">
  			<div class="modal-body">
  				<div class="icon-modal"><i class="far fa-check-circle"></i></div>
    			<h1>Nuevo Paciente Registrado</h1>
   	 			<p>Ya puede acceder a los datos registrados del paciente desde su perfil.</p>
			    <button id="close">Cerrar</button>
			</div>
		</div>
	    
	</div>

    <script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/generics/js/nav.js}"></script>
    <script th:src="@{/projects/tdah/js/modal-submit-successfully.js}" th:if="${success != ''}"></script>
    <script th:src="@{/projects/tdah/js/buscar.js}"></script>
</body>
</html>