<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/tdah/css/estilos.css}">
    <title>Perfil</title>
</head>
<body>
    
    <header th:replace="layout/plantilla :: header"></header>
	<div class="content">
		<nav class="guide">
        	<ul>
        		<li><a href="#"><i class="fas fa-home"></i></a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/index">TDAH</a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/profile">Perfil</a></li>
        	</ul>
        </nav>
	
	    <div class="content-perfil">
	        <div class="cabecera">
	            <h4>Mi perfil</h4>
	        </div>
	        <div class="foto-perfil">
	            <img th:src="@{/generics/media/blank-profile.png}">
	            <div>
	                <h3>Nombre completo</h3>
	                <h4>correo@correo.com</h4>
	            </div>
	        </div>
	        <div class="informacion-profesional">
	            <h5>Datos Profesionales</h5>
	            <div class="datos">
	                <div class="datos-group">
	                    <label for="">Nombre Completo:</label>
	                    <input type="text">
	                </div>
	                <div class="datos-group">
	                    <label for="">Correo:</label>
	                    <input type="text">
	                </div>
	                <div class="datos-group">
	                    <label for="">Cédula profesional:</label>
	                    <input type="text">
	                </div>
	                <div class="datos-group">
	                    <label for="">Especialidad:</label>
	                    <select name="Opciones_esp">
	                        <option>Psicólogo</option> 
	                        <option>Neurólogo</option> 
	                        <option>Neuropediatra</option> 
	                    </select>
	                </div>
	                <div class="datos-group">
	                </div>
	                <div class="datos-group">
	                    <input type="submit" value="Actualizar">
	                </div>
	            </div>
	        </div>
	        <div class="pacientes">
	            <h5>Datos pacientes </h5>
	        <!-- <div>
		            <p><i class="fas fa-user-slash"></i></p>
		            <p>No tiene pacientes asignados.</p>
		            <div class="btn_contenedor">
		                <a th:href="@{/tdah/form}" class="btn">Registrar paciente</a>
		            </div>
	            </div> -->
	            <div class="table-container">
	            	<div class="header-tools">
	            		<a class="add-patient" th:href="@{/tdah/patient/new}">
			            	<i class="fas fa-plus-circle"></i> Agregar paciente
			            </a>
			            <div class="search-patient">
			            	<i class="fas fa-search"></i>
			            	<input type="text">
			            </div>
	            	</div>
		            <table>
			            <thead>
			            	<tr>
			            		<th>Folio</th>
			            		<th>Nombre</th>
			            		<th>Edad</th>
			            		<th>Genero</th>
			            		<th>Registrado</th>
			            		<th>Acciones</th>
			            	</tr>
			            </thead>
			            <tbody>
			            	<tr>
			            		<td>QWERTY_0102</td>
			            		<td>Jaime Daniel Hernández Palacios</td>
			            		<td>12</td>
			            		<td>Masculino</td>
			            		<td>2021-08-09</td>
			            		<td><i class="fas fa-eye"></i> Consultar | <i class="fas fa-edit"></i> Editar | <i class="fas fa-minus-circle"></i> Eliminar</td>
			            	</tr>
			            	<tr>
			            		<td>PGGHIF_0231</td>
			            		<td>Jessica Nuñez Garcia</td>
			            		<td>13</td>
			            		<td>Femenido</td>
			            		<td>2021-07-15</td>
			            		<td><i class="fas fa-eye"></i> Consultar | <i class="fas fa-edit"></i> Editar | <i class="fas fa-minus-circle"></i> Eliminar</td>
			            	</tr>
			            	<tr>
			            		<td>QWERTY_0102</td>
			            		<td>Pablo Ruiz vasquez</td>
			            		<td>10</td>
			            		<td>Masculino</td>
			            		<td>2021-07-30</td>
			            		<td><i class="fas fa-eye"></i> Consultar | <i class="fas fa-edit"></i> Editar | <i class="fas fa-minus-circle"></i> Eliminar</td>
			            	</tr>
			            </tbody>
		            </table>
	            </div>
	        </div>
	    </div>
	</div>

    <script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/generics/js/nav.js}"></script>
</body>
</html>