<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/tdah/css/estilos.css}">
    <title>Registro de sesiones</title>
</head>
<body>

	<header th:replace="layout/plantilla :: header"></header>
	
	<div class="content-registro-sesiones">
		<nav class="guide">
        	<ul>
        		<li><a href="#"><i class="fas fa-home"></i></a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/index">TDAH</a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/profile">Perfil</a></li>
                <li><i class="fas fa-angle-right"></i></li>
                <li><a th:href="@{/tdah/patient/} + ${idPaciente} + @{/recorded-sessions}">Registro de sesiones</a></li>
        	</ul>
        </nav>
        
	    <div class="sesiones" id="registro-sesiones">
	
	    </div>
	</div>
    <script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/projects/tdah/js/registro-sesiones.js}"></script>
</body>
</html>