<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/projects/tdah/css/estilos.css}">
    <title></title>
</head>
<body>

    <header th:replace="layout/plantilla :: header"></header>
    
    <div class="content-session">
	    <nav class="guide"> 
		     <ul>
		        <li><a href="#"><i class="fas fa-home"></i></a></li>
		        <li><i class="fas fa-angle-right"></i></li>
		        <li><a href="/tdah/index">TDAH</a></li>
		        <li><i class="fas fa-angle-right"></i></li>
		        <li><a href="/tdah/profile">Perfil</a></li>
		        <li><i class="fas fa-angle-right"></i></li>
                <li><a href="/tdah/recorded-sessions">Registro de sesiones</a></li>
		        <li><i class="fas fa-angle-right"></i></li>
				<li><a href="/tdah/new-session">Nueva sesión</a></li>
			</ul>
		</nav>
    
    <!--contiene el apartado de camara-->
        <div class="contenedor-sesion">
            <div class="aside">
                <div class="camara">
                    <video id="gum" playsinline autoplay muted></video>
                   <div class="botones">
                        <div class="caja1" id="cameraButton">
                            <div class="activar-camara">
                                <i class="fas fa-video" id="cameraIcon"></i>
                            </div>
                        </div>
                        <div class="caja2" id="recordButton">
                            <div class="recording">
                                <i class="far fa-circle" id="recordIcon"></i>
                            </div>
                        </div>
                        <div class="caja3" id="downloadButton">
                            <div class="descarga">
                                <i class="fas fa-download" id="downloadIcon"></i>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="neuronales">
                    <video class="tabla" autoplay muted="false" loop>
                        <source th:src="@{/projects/tdah/media/tabla.mp4}" type="video/mp4">
                    </video>
                </div>
            </div>
            <!--Contiene el apartado de juegos y redes neuronales-->
            <section>
                
                <div class="caja-derecha">
                    <video class="juego" autoplay muted="false" loop>
                        <source th:src="@{/projects/tdah/media/juego.mp4}" type="video/mp4">
                    </video>
                </div>
            </section>
        </div>
        
        <div id="modal_container" class="modal-container" th:if="${success != ''}">
  			<div class="modal-body">
  				<div class="icon-modal"><i class="far fa-check-circle"></i></div>
    			<h1>Se grabó la sesión correctamente</h1>
   	 			<p>Ha detenido la grabación, ¿qué desea hacer?</p>
   	 			<button>Descartar</button>
			    <button id="close">Guardar</button>
			</div>
		</div>
	</div>  
   
</body>
<script src="https://kit.fontawesome.com/2ff9a12d18.js" crossorigin="anonymous"></script>
    <script th:src="@{/projects/tdah/js/grabar-pantalla.js}"></script>
</html>